div.relative {
    position: relative;
    left: 0px;
    width: 500px;
    height: 500px;
    border: 5px solid #c0edff;
    color:rgb(175, 175, 175);
  }
  body {background-color: rgb(34, 42, 43);}

  header {
      color:rgb(93, 68, 240);
      padding: 20px;
      text-align: center;
  }

  .container {
      position: relative;
      left:0px;
      color:rgb(85, 165, 231);
  }