body {background-color: rgb(34, 42, 43);
}

header {
    color:rgb(93, 68, 240);
    text-align: center;
}

.container h2 {
    max-width: 1000px;
    margin: 0 auto;
    color:rgb(144, 190, 228);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    color:rgb(85, 165, 231);
}


